# =====
# = C =
# =====

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# ========
# = Gcov =
# ========

# gcc coverage testing tool files

*.gcno
*.gcda
*.gcov

# ====================
# = Project-Specific =
# ====================

/data/*.cstore
/data/*.footer

/sql/block_filtering.sql
/sql/data_types.sql
/sql/load.sql

*.pb-c.*
